.box{
    height: 2.15rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.2rem;
    background: #313030;
    border-radius: 0.2rem ;
}
.left{
    width: 75%;
    color: #f3f8fd;
    float: left;
}
.left p{
    font-size: 0.55rem;
    margin-top: 0.4rem;
    margin-left: 0.35rem;
}
.left h2{
    font-size: 0.3rem;
    margin-top: 0.4rem;
    margin-left: 0.35rem;
    color: #7e8c8d;
}
.right{
    float: left;
    color: #f3f8fd;
    width: 25%;
}
.right p{
    font-size: 0.6rem;
    margin-top: 0.35rem;
    text-align: center;
}