.f_banner{
    height: 4.48rem;
    padding: 0.4rem;
}
.banner_pic{
    width: 100%;
    height: 100%;
}
.intro{
    height: 2rem;
    width: 100%;
    background: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #e8e8e8;
}
.intro li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.intro li div{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.6rem;
    background: #ff2315;
    text-align: center;
    line-height: 1.2rem;
}
.intro li div i{
    font-size: 0.6rem;
    color: #fff;
    font-weight: 900;
}
.intro li div p{
    color: #3f3f3f;
    font-size: 0.28rem;
}
.intro_playlist{
    height: 10.8rem;
    background: lightgray;
    padding: 0 0.42rem 0 0.42rem;
}
.head_playlist{
    height: 1.5rem;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_playlist span:nth-of-type(1){
    font-size: 0.44rem;
    color: #363636;
}
.head_playlist span:nth-of-type(2){
    width: 1.9rem;
    height: 0.66rem;
    text-align: center;
    line-height: 0.66rem;
    border:1px solid #e7e7e7;
    border-radius: 0.65rem;
    font-size:0.28rem;
}
.playlist_list{
    height: 9.3rem;
    background: red;
}
.playlist_list li{
    float: left;
    width: 3.08rem;
    height:4.14rem;
    background: #cccccc;
    margin-right:0.28rem ;
    margin-bottom: 0.44rem;
}
.playlist_list li:nth-of-type(3n){
    margin-right: 0;
}
.new_disc{
    height: 6.5rem;
    padding: 0 0.4rem 0 0.4rem;
    background: yellow;
}
.head_disc{
    height: 1.5rem;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_disc div:nth-of-type(1) ._left{
    margin-right: .24rem;
    font-size: .34rem;
    color: #878787;
}
.head_disc div:nth-of-type(1) b{
    height: .41rem;
    width: 0;
    border-left: 1px solid #e8e8e8;
}
.head_disc div:nth-of-type(1) ._right{
    margin-left: .24rem;
    font-size: .34rem;
    color: #878787;
}
.head_disc div:nth-of-type(1) ._active{
    font-size: 0.44rem;
    font-weight: 900;
    color: #000;
}
.head_disc div:nth-of-type(2){
    width: 1.9rem;
    height: 0.66rem;
    text-align: center;
    line-height: 0.66rem;
    border:1px solid #e7e7e7;
    border-radius: 0.65rem;
    font-size:0.28rem;
}
.new_disc li{
    float: left;
    width: 3.10rem;
    height: 4.14rem;
    background: #cccccc;
    margin-right:0.28rem ;
    margin-bottom: 0.44rem;
}
.new_disc li:nth-of-type(3){
    margin-right: 0;
}