*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%
}
.container_s{
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height: 50px;
    background: pink
}
footer{
    height: 50px;
    background: pink;
}
.ads{
    flex: 1;
}
.wrapper_s ul li{
    background: red;
}