.ui-tab-nav {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
    top: 0rem;
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    height: 0.81rem;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.ui-tab-nav li>p, .ui-tab-nav li>span {
    position: relative;
    display: inline-block;
    height: 0.81rem;
    line-height: 0.81rem;
    width: auto;
    padding: 0rem 0.135rem;
}
.ui-tab-nav li>p, .ui-tab-nav li>span {
    position: relative;
    display: inline-block;
    height: 0.81rem;
    line-height: 0.81rem;
    width: auto;
    padding: 0rem 0.135rem;
}
.ui-border-b:before {
    border-bottom: 0.027rem solid #e9e9e9;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: left bottom;
}
.ui-tab-nav li.current>p:before, .ui-tab-nav li.current>span:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.108rem;
    background-color: #00a5e0;
}
.ui-tab-nav li {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.43rem;
    -webkit-box-flex: 1;
    position: relative;
}
.ui-tab-content{
    width: 100%;
}