/*二级路由导航栏*/
.detail_nav{
    width: 10.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.search_nav{
    width: 100%;
    height: 1.25rem;
    line-height: 1.25rem;
    background: #ffffff;
}
.search_nav div{
    width: 100%;
    height: 1.25rem;
}
.search_nav div ul{
    width: 100%;
    height: 1.25rem;
}
.search_contain{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.search_contain::-webkit-scrollbar{
    display: none;
}
.search_nav li{
    width: 2.16rem;
    height: 1.25rem;
    text-align: center;
    font-size: 0.4rem;
    border-bottom: 1px solid #e6e6e6;
}
.search_nav div ul li a{
    display: inline-block;
    height: 1.2rem;
    color: black;
}

/*综合的样式*/
/*(1)单曲*/
.composite_k{
    width: 100%;
    margin: 0 auto;
}
.composite_singe{
    width: 9.9rem;
    margin-left: 0.45rem;
}
.composite_singe ul:nth-child(1){
    width: 9.9rem;
    height: 1.5rem;
}
.composite_singe ul:nth-child(1) li:nth-child(1){
    float: left;
    font-size: 0.45rem;
    font-weight: bolder;
    margin-top: 0.85rem;
}
.composite_singe ul:nth-child(1) li:nth-child(2){
    text-align: center;
    float: right;
    width: 2.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #e6e6e6;
    margin-top: 0.6rem;
    margin-right: 0.2rem;
    border-radius: 0.5rem;
}
.composite_singe ul:nth-child(2){
    width: 9.9rem;
}
.composite_singe ul:nth-child(2) li{
    width: 100%;
    height: 0.92rem;
    margin-top: 0.5rem;
}
.composite_singe ul:nth-child(2) li span:nth-child(1){
    float: left;
}
.composite_singe ul:nth-child(2) li span:nth-child(1) p:nth-child(1){
    color: #00a5e0;
    font-size: 0.4rem;
    margin-bottom: 0.14rem;
}
.composite_singe ul:nth-child(2) li span:nth-child(1) p:nth-child(2){
    color: #7e8c8d;
    width: 7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.composite_singe ul:nth-child(2) li span:nth-child(2){
    float: right;
    display: inline-block;
    height: 0.92rem;
    text-align: center;
    line-height: 0.92rem;
}
.composite_singe ul:nth-child(2) li span:nth-child(1) p:nth-child(1){
    width: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.composite_singe ul:nth-child(2) li span:nth-child(2) i{
    font-size: 0.6rem;
    color: #7e8c8d;
}
.composite_singe>h5{
    width: 9.9rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    font-size: 0.3rem;
    color: #7e8c8d;
}

/*(2)视频*/
.composite_video{
    width: 9.9rem;
    height: auto;
    margin: 0 auto;
}
.composite_video>h5{
    width: 100%;
    height: 1.54rem;
    line-height: 1.54rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.composite_video img{
    width: 3.4rem;
    height: 1.9rem;
}
.composite_video ul li{
    width: 100%;
    height: 1.94rem;
    margin-top: 0.2rem;
}
.composite_video ul li span:nth-child(1){
    float: left;
}
.composite_video ul li span:nth-child(2){
    float: right;
}
.composite_video ul li span:nth-child(2) p:nth-child(1){
    width: 6.28rem;
    height: 1.4rem;
    line-height: 0.6rem;
    font-size: 0.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.composite_video ul li span:nth-child(2) p:nth-child(2){
    color: #7e8c8d;
    font-size: 0.3rem;
}
.composite_video h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    font-weight: normal;
    line-height: 1.4rem;
    font-size: 0.3rem;
    color: #7e8c8d;
    margin-left: 3rem;
}

/*（3）歌单*/
.composite_playList{
    width: 9.9rem;
    margin: 0 auto;
}
.composite_playList h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.composite_playList img{
    width: 2.2rem;
    height: 2.2rem;
}
.composite_playList li{
    width: 9.9rem;
    height: 2.2rem;
    margin-top: 0.2rem;
}
.composite_playList li span:nth-child(1){
    display: inline-block;
    float: left;
}
.composite_playList li span:nth-child(2){
    display: inline-block;
    float: left;
    width: 7rem;
    height: 2.2rem;
    margin-left: 0.5rem;
    line-height: 1rem;
}
.composite_playList li span:nth-child(2) p:nth-child(1){
    font-size: 0.4rem;
    color: #00a5e0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.composite_playList li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
}
.composite_playList h5:last-child{
    height: 1.4rem;
    line-height: 1.4rem;
    margin-left: 3.6rem;
    font-size: 0.3rem;
    color: #7e8c8d;
}

/*(4)歌手*/
.composite_songwriter{
    width: 9.9rem;
    margin: 0 auto;
}
.composite_songwriter h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.composite_songwriter img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.composite_songwriter ul li{
    width: 9.9rem;
    height: 2.2rem;
    margin-top: 0.2rem;
}
.composite_songwriter ul li span:nth-child(1){
    float: left;
    height: 2.2rem;
    width: 2rem;
    line-height: 2.2rem;
}
.composite_songwriter ul li span:nth-child(2){
    float: right;
    width: 7.9rem;
    height: 2.2rem;
    line-height: 2.2rem;
}
.composite_songwriter ul li span:nth-child(2) b:nth-child(1){
    display: inline-block;
    width: 5rem;
    color: black;
    font-size: 0.4rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
}
.composite_songwriter ul li span:nth-child(2) b:nth-child(2){
    margin-right: 0.4rem;
    font-size: 0.4rem;
    border-radius: 50%;
    color: #ffffff;
    background: red;
}
.composite_songwriter ul li span:nth-child(2) b:nth-child(3){
    font-size: 0.3rem;
    color: #7e8c8d;
}
.composite_songwriter h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    font-weight: normal;
    line-height: 1.4rem;
    font-size: 0.3rem;
    text-align: center;
    color: #7e8c8d;
}

/*（5）专辑*/
.composite_album{
    width: 9.9rem;
    margin: 0 auto;
}
.composite_album img{
    width: 2.7rem;
    height: 2.2rem;
}
.composite_album ul li{
    width: 9.9rem;
    height: 2.2rem;
    margin-top: 0.2rem;
}
.composite_album  h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.composite_album ul li span{
    float: left;
}
.composite_album ul li span:nth-child(2){
    margin-left: 0.4rem;
    display: inline-block;
    height: 2.2rem;
    line-height: 1rem;
}
.composite_album ul li span:nth-child(2) p:nth-child(1){
    font-size: 0.4rem;
    color: black;
    width: 6.5rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.composite_album ul li span:nth-child(2) p:nth-child(2){
    color: #7e8c8d;
}
.composite_album h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.3rem;
    color: #7e8c8d;
    padding-left: 3.5rem;
}

/*（6）电台*/
.composite_radio{
    width: 9.9rem;
    margin: 0 auto;
}
.composite_radio ul li{
    width: 100%;
    height: 2.2rem;
}
.composite_radio  h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.composite_radio img{
    width: 2.2rem;
    height: 2.2rem;
}
.composite_radio ul li span{
    float: left;
}
.composite_radio ul li span:nth-child(2){
    display: inline-block;
    margin-left: 0.4rem;
    height: 100%;
    line-height: 1rem;
}
.composite_radio ul li span:nth-child(2) p:nth-child(1){
    color: #00a5e0;
    font-size: 0.35rem;
}
.composite_radio ul li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
}
.composite_radio h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.3rem;
    color: #7e8c8d;
    padding-left: 3.5rem;
}
/*(6)Mlog*/
.composite_log{
    width: 9.9rem;
    margin: 0 auto;
    overflow: hidden;
}
.composite_log  h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
    margin-top: 0.4rem;
}
.composite_log h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.3rem;
    color: #7e8c8d;
    padding-left: 3.5rem;
    overflow: hidden;
}
.composite_log ul li{
    width: 4.8rem;
    height: 7rem;
    float: left;
    background: #e6e6e6;
}
.composite_log ul li:nth-child(2){
    margin-left: 0.3rem;
}
.composite_log ul li p:nth-child(1) img{
    width: 4.8rem;
    height: 4.84rem;
}
.composite_log ul li p:nth-child(2){
    width: 4.38rem;
    height: 1.5rem;
    line-height: 0.7rem;
    margin-left: 0.23rem;
    font-size: 0.3rem;
    /*text-overflow: -o-ellipsis-lastline;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.composite_log ul li p:nth-child(3){
    width: 4.38rem;
    margin-left: 0.23rem;
    font-size: 0.28rem;
    color: #7e8c8d;
    height: 0.68rem;
    line-height: 0.68rem;
}
.composite_log ul li p:nth-child(3) span:nth-child(2){
    margin-left: 0.3rem;
}
.composite_log ul li p:nth-child(3) span:nth-child(3){
    margin-left: 1rem;
}
.composite_log ul li p:nth-child(3) img{
    width: 0.38rem;
    height: 0.38rem;
}
/*(7)用户*/
.composite_user{
    width: 9.9rem;
    margin: 0 auto;
}
.composite_user  h5:nth-child(1){
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.45rem;
    font-weight: bolder;
    margin-top: 0.4rem;
}
.composite_user ul li{
    width: 9.9rem;
    height: 2.2rem;
}
.composite_user img{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}
.composite_user ul li span{
    float: left;
    display: inline-block;
    height: 2.2rem;
}
.composite_user ul li span:nth-child(2){
    margin-left: 0.4rem;
    line-height: 1rem;
}
.composite_user ul li span:nth-child(2) p:nth-child(1){
    color: #00a5e0;
    font-size: 0.35rem;
}
.composite_user ul li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 5.5rem;
}
.composite_user ul li span:last-child{
    margin-top: 0.8rem;
    float: right;
    height: 0.6rem;
    width: 1.6rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.35rem;
    border: 1px solid #ff2315;
    border-radius: 0.5rem;
    color: #ff2315;
    font-weight: bolder;
}
.composite_user h5:last-child{
    width: 9.9rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.3rem;
    color: #7e8c8d;
    padding-left: 3.5rem;
}

/*单曲*/
.single_k{
    width: 9.9rem;
    margin: 0 auto;
}
.single_k>p:nth-child(1){
    width: 9.9rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.single_k p i:nth-child(1){
    font-size: 0.55rem;
}
.single_k p i:nth-child(2){
    font-size: 0.4rem;
    margin-left: 0.3rem;
}
.single_k p i:nth-child(3){
    font-size: 0.5rem;
    margin-left: 5.8rem;
}
.single_k p i:nth-child(4){
    font-size: 0.35rem;
    margin-left: 0.2rem;
}

.single_k ul {
    width: 9.9rem;
    margin: 0 auto;
}
.single_k ul li{
    width: 100%;
    height: 0.92rem;
    margin-top: 0.84rem;
}
.single_k ul li span:nth-child(1){
    float: left;
    height: 0.92rem;
    line-height: 0.5rem;
}
.single_k ul li span:nth-child(2){
    float: right;
    height: 0.92rem;
    line-height: 0.92rem;
}
.single_k ul li span:nth-child(1) h5{
    font-size: 0.4rem;
    width: 7rem;
    color: #00a5e0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.single_k ul li span:nth-child(1) p{
    font-size: 0.28rem;
    color: #7e8c8d;
    width: 7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.single_k ul li span:nth-child(2) i:nth-child(2){
    color: #7e8c8d;
    font-size: 0.8rem;
    margin-right: 0.2rem;
}
.single_k ul li span:nth-child(2) i:nth-child(1){
    color: #7e8c8d;
    font-size: 0.65rem;
    margin-right: 0.15rem;
}

/*视频*/
.video_k{
    width: 9.9rem;
    margin: 0 auto;
}
.video_k img{
    width: 3.4rem;
    height: 1.9rem;
}
.video_k ul li{
    width: 100%;
    height: 1.94rem;
    margin-top: 0.3rem;
}
.video_k ul li span:nth-child(1){
    float: left;
}
.video_k ul li span:nth-child(2){
    float: right;
}
.video_k ul li span:nth-child(2) p:nth-child(1){
    width: 6.28rem;
    height: 1.4rem;
    line-height: 0.7rem;
    font-size: 0.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video_k ul li span:nth-child(2) p:nth-child(2){
    color: #7e8c8d;
    font-size: 0.3rem;
}

/*歌手*/
.songwriter{
    width: 9.9rem;
    margin: 0 auto;
}
.songwriter img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}
.songwriter ul li{
    width: 9.9rem;
    height: 2.2rem;
    margin-top: 0.2rem;
}
.songwriter ul li span:nth-child(1){
    float: left;
    height: 2.2rem;
    width: 2rem;
    line-height: 2.2rem;
}
.songwriter ul li span:nth-child(2){
    float: right;
    width: 7.9rem;
    height: 2.2rem;
}
.songwriter ul li span:nth-child(2) b:nth-child(1){
    display: inline-block;
    width: 5rem;
    color: black;
    font-size: 0.4rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    margin-top: 0.8rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.songwriter ul li span:nth-child(2) b:nth-child(2){
    margin-right: 0.4rem;
    font-size: 0.4rem;
    border-radius: 50%;
    color: #ffffff;
    background: red;
}
.songwriter ul li span:nth-child(2) b:nth-child(3){
    font-size: 0.3rem;
    color: #7e8c8d;
}

/*专辑*/
.album_k{
    width: 9.9rem;
    margin: 0 auto;
}
.album_k img{
    width: 1.8rem;
    height: 1.6rem;
}
.album_k ul li{
    width: 9.9rem;
    height: 1.6rem;
    margin-top: 0.4rem;
}
.album_k ul li span{
    float: left;
}
.album_k ul li span:nth-child(2){
    margin-left: 0.4rem;
    display: inline-block;
    height: 1.6rem;
    line-height: 0.9rem;
}
.album_k ul li span:nth-child(2) p:nth-child(1){
    font-size: 0.4rem;
    color: #00a5e0;
    width: 7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.album_k ul li span:nth-child(2) p:nth-child(2){
    color: #7e8c8d;
}

/*歌单*/
.playList_k{
    width: 9.9rem;
    margin: 0 auto;
}
.playList_k img{
    width: 1.6rem;
    height: 1.6rem;
}
.playList_k li{
    width: 9.9rem;
    height: 1.6rem;
    margin-top: 0.4rem;
}
.playList_k li span:nth-child(1){
    display: inline-block;
    float: left;
}
.playList_k li span:nth-child(2){
    display: inline-block;
    float: left;
    width: 7rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    line-height: 0.85rem;
}
.playList_k li span:nth-child(2) p:nth-child(1){
    font-size: 0.4rem;
    color: #00a5e0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.playList_k li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*主播电台*/
.radioStation_k{
    width: 9.9rem;
    margin: 0 auto;
}
.radioStation_k ul li{
    width: 100%;
    height: 1.6rem;
    margin-top: 0.36rem;
}
.radioStation_k  h5:nth-child(1){
    margin-top: 0.2rem;
    width: 9.9rem;
    font-size: 0.45rem;
    font-weight: bolder;
}
.radioStation_k img{
    width: 1.6rem;
    height: 1.6rem;
}
.radioStation_k ul li span{
    float: left;
}
.radioStation_k ul li span:nth-child(2){
    display: inline-block;
    margin-left: 0.4rem;
    height: 100%;
    line-height: 0.85rem;
}
.radioStation_k ul li span:nth-child(2) p:nth-child(1){
    color: #00a5e0;
    font-size: 0.35rem;
    width: 7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.radioStation_k ul li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
}

/*用户*/
.userHome_k{
    width: 9.9rem;
    margin: 0 auto;
}
.userHome_k ul li{
    width: 9.9rem;
    height: 1.6rem;
    margin-top: 0.4rem;
}
.userHome_k img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}
.userHome_k ul li span{
    float: left;
    display: inline-block;
    height: 1.6rem;
}
.userHome_k ul li span:nth-child(2){
    margin-left: 0.4rem;
    line-height: 0.85rem;
}
.userHome_k ul li span:nth-child(2) p:nth-child(1){
    color: #00a5e0;
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.userHome_k ul li span:nth-child(2) p:nth-child(2){
    font-size: 0.3rem;
    color: #7e8c8d;
    width: 5rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}
#attention{
    margin-top: 0.8rem;
    float: right;
    height: 0.6rem;
    width: 1.6rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.35rem;
    border: 1px solid #ff2315;
    border-radius: 0.5rem;
    color: #ff2315;
    font-weight: bolder;
}
#_attention{
    margin-top: 0.8rem;
    float: right;
    height: 0.6rem;
    width: 1.6rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.35rem;
    border: 1px solid #6a6a6a;
    border-radius: 0.5rem;
    color: #7e8c8d;
    font-weight: bolder;
}
.sex_1{
    font-style: oblique;
    font-weight: bolder;
    font-size: 0.4rem;
    color: green;
}
.sex_2{
    font-style: oblique;
    font-weight: bolder;
    font-size: 0.4rem;
    color: red;
}
.my_kwc{
    width: 9.9rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.4rem;
    color: #7e8c8d;
}